# ignore all slurm outputs from batch runs
slurm-*

# ignore any files containing fasta
*fasta*
*.fa
!genome_assembly.contigs.fasta



# ignore everything in seqStore
genome_assembly.seqStore/
*seqStore*


# ignore logs
.log
/analyses/*
!/analyses/01_genome_assembly/genome_assembly.report
!/analyses/01_genome_assembly/evaluation/mummer.png
!/analyses/01_genome_assembly/evaluation/report.pdf


